.contact {
  padding: 4rem 0;
}

.center {
  width: 100%;
  margin: 0 auto;
}

.formControl,
.submit {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid darkgray;
  border-radius: 0.25rem;
}
.submit {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  color: darkgray;
  transition: var(--mainTransition);
  cursor: pointer;
}
.submit:hover {
  background: darkgray;
  color: white;
  border-color: var(--darkGrey);
}
input::placeholder,
textarea::placeholder {
  color: darkgray;
}

@media screen and (min-width: 768px) {
  /* .center {
    width: 60%;
  } */
}

@media screen and (min-width: 992px) {
  .center {
    /* width: 50%; */
    margin: 0 auto;
  }
}