.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .gallery-container {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-container {
    width: 80%;
  }
}

@media screen and (min-width: 1440px) {
  .gallery-container {
    width: 60%;
  }
}