.painting-container {
  width: 20rem;
  height: 20rem;
  margin: 2rem 0 0 0;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .painting-container {
    width: 40%;
    margin: 4rem 0 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .painting-container {
    width: 40%;
  }
}