.img-container {
  width: 100%;
  margin: 1rem 0 1rem 0;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.desc p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.desc span {
  font-weight: bold;
  margin: 0;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
}

.price p {
  font-weight: bold;
  font-size: 1.3em;
  align-self: flex-end;
  margin: 0;
}

.buy-button {
  width: 100%;
  padding: 0.3em 1em;
  background-color: #0fa14c;
  border-style: none;
  color: white;
}

.buy-button:hover {
  cursor: pointer;
}

.disable-button {
  width: 100%;
  padding: 0.3em 1em;
  background-color: #799685;
  border-style: none;
  color: white;
}

.disable-button:hover {
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .buy-button,
  .disable-button {
    width: 50%;
    align-self: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .buy-button,
  .disable-button {
    width: 40%;
  }
}